@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'Ubuntu', sans-serif;
}
html {scroll-behavior: smooth;}
html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}
main{display:block}
h1{font-size:2em;margin:.67em 0}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{vertical-align:baseline}
textarea{overflow:auto}
[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details{display:block}
summary{display:list-item}
template{display:none}
[hidden]{display:none}
img {max-width:100%;vertical-align:middle}
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: rgba(240,16,110,1);
}
::selection {
  color: #fff;
  background: rgba(240,16,110,1);
}

/*==============================================================
======================= Bootstrap Grid =========================
==============================================================*/
html{box-sizing:border-box;-ms-overflow-style:scrollbar}
*,::after,::before{box-sizing:inherit}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
/* @media (min-width:576px){
	.container{max-width:540px}
} */
@media (min-width:768px){
	.container{max-width:720px}
}
@media (min-width:992px){
	.container{max-width:960px}
}
@media (min-width:1200px){
	.container{max-width:1140px}
}
@media (min-width:1366px){
	.container{max-width:1280px}
}
@media (min-width:1500px){
	.container{max-width:1410px}
}
.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
.no-gutters{margin-right:0;margin-left:0}
.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}
.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}
.col-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}
.col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
.col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
.col-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
.col-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
/* @media (min-width:576px){
	.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}
	.col-sm-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}
	.col-sm-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
	.col-sm-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
	.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
	.col-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
	.col-sm-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
	.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
	.col-sm-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
	.col-sm-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
	.col-sm-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
	.col-sm-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
	.col-sm-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
	.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
} */
@media (min-width:768px){
	.col-md{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}
	.col-md-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}
	.col-md-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
	.col-md-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
	.col-md-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
	.col-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
	.col-md-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
	.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
	.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
	.col-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
	.col-md-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
	.col-md-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
	.col-md-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
	.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width:992px){
	.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}
	.col-lg-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}
	.col-lg-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
	.col-lg-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
	.col-lg-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
	.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
	.col-lg-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
	.col-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
	.col-lg-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
	.col-lg-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
	.col-lg-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
	.col-lg-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
	.col-lg-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
	.col-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width:1200px){
	.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}
	.col-xl-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}
	.col-xl-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
	.col-xl-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
	.col-xl-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
	.col-xl-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
	.col-xl-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
	.col-xl-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
	.col-xl-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
	.col-xl-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
	.col-xl-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
	.col-xl-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
	.col-xl-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
	.col-xl-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}




#page-container {
    padding-top: 100px;
}
/*==============================================================
======================= Primary Style Sheet =====================
==============================================================*/
.ak-section {
    position: relative;
    padding: 70px 0;
}
.primary-headline {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    position: relative;
    max-width: 340px;
    margin: auto;
}
.primary-headline span {
    color: rgba(240,16,110,1);
}
.ak-headline-wrap {
    padding-bottom: 50px;
}
.primary-headline::before {
    background-color: #ffc10f;
    background-position: center center;
    content: "";
    position: absolute;
    width: 100px;
    height: 10px;
    left: 0;
    bottom: 6px;
    display: block;
    z-index: -1;
}
.ak-my-skills-headline .primary-headline::before,
.ak-my-resume-headline .primary-headline::before {
    width: 65px;
}
.ak-recent-works-headline .primary-headline::before {
    width: 180px;
}
.ak-recent-blog-headline .primary-headline::before {
    width: 145px;
}
.ak-contact-me-headline .primary-headline::before {
    width: 80px;
}

.ak-divider-inn {
    position: relative;
    margin-top: 10px;
    height: 2px;
}
.ak-divider-inn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #253069, transparent);
}
.ak-divider-inn::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: white;
    border-bottom: 1px solid rgba(240,16,110,1);
    border-right: 1px solid rgba(240,16,110,1);
}
@media only screen and (max-width: 991px) {
    .primary-headline {
        font-size: 40px;
        max-width: 285px;
    }
}
@media only screen and (max-width: 767px) {
    .primary-headline {
        font-size: 35px;
        max-width: 250px;
    }
}
/*==============================================================
======================= Primary Style Sheet =====================
==============================================================*/
/*==============================================================
======================= Header Style Sheet =====================
==============================================================*/
header#main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    padding: 20px 0;
}
header#main-header .container {
    max-width: 1610px;
}
header#main-header .main-header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#main-header .main-header-wrap .ak-branding {
    width: 80px;
}
header#main-header .main-header-wrap .ak-navigation {
    font-size: 20px;
    font-weight: 600;
    color: #253069;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}
header#main-header .main-header-wrap .ak-navigation div {
    transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
    display: inline-block;
    padding: 10px 26px 10px 15px;
}
header#main-header .main-header-wrap .ak-navigation span {
    transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
    display: block;
    position: absolute;
    top: 48%;
    right: 0;
    width: 3px;
    height: 24px;
    background-color: #253069;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, -50%, 0) scale(1, 1) rotate(10deg);
    -moz-transform: translate3d(0, -50%, 0) scale(1, 1) rotate(10deg);
    -webkit-transform: translate3d(0, -50%, 0) scale(1, 1) rotate(10deg);
    -o-transform: translate3d(0, -50%, 0) scale(1, 1) rotate(10deg);
    -ms-transform: translate3d(0, -50%, 0) scale(1, 1) rotate(10deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
header#main-header .main-header-wrap .ak-navigation span:last-child {
    right: 10px;
}
@media only screen and (max-width: 1199px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 767px) {}
/*==============================================================
======================= Header Style Sheet =====================
==============================================================*/
/*==============================================================
======================= Services Style Sheet =====================
==============================================================*/
.ak-service-headline .primary-headline::before {
    width: 120px;
}
.ak-services-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.ak-services-items {
    width: calc(33.33% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,25,50,.1);
    box-shadow: 0 10px 20px 0 rgba(0,25,50,.1);
    -webkit-transition: all .3s linear;
    margin-bottom: 30px;
    transition: all .3s linear;
	border-radius:3px;
}
.ak-services-items:hover {
    background-color: #ffc10f;
    transform: scale(1.05);
}
.services-icon svg {
  width: auto;
  height: 65px;
  margin-bottom: 15px;
}
.ak-services-items h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  transition: all .3s linear;
}
.ak-services-items p {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  transition: all .3s linear;
}
.services-icon svg path {
  fill: #f0106e;
}
.ak-services-items:hover h3 {
  color: #fff;
}
.ak-services-items:hover p {
  color: #fff;
}
@media only screen and (max-width: 1199px) {
    .ak-services-items {
        padding: 30px 20px;
    }
}
@media only screen and (max-width: 991px) {
    .ak-services-items {
        width: calc(50% - 30px);
    }
}
@media only screen and (max-width: 600px) {
    .ak-services-items {
        width: calc(100% - 30px);
    }
}
/*==============================================================
======================= Services Style Sheet =====================
==============================================================*/
/*==============================================================
======================= How Work Style Sheet =====================
==============================================================*/
.ak-work-progress-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
span.work-progress-icon {
	transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
	display: inline-block;
	width: 90px;
	height: 90px;
	overflow: hidden;
	margin-bottom: 15px;
}
.work-progress-icon img {
  transform: scale(1.2);
}
.ak-work-progress-items {
    width: calc(33.33% - 30px);
    margin-left: 15px;
    margin-right: 15px;
	margin-bottom: 30px;
}
.work-progress-title h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.work-progress-content p {
  font-size: 15px;
  line-height: 23px;
}
@media only screen and (max-width: 1199px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 767px) {}
/*==============================================================
======================= How Work Style Sheet =====================
==============================================================*/
/*==============================================================
======================= Header Style Sheet =====================
==============================================================*/
@media only screen and (max-width: 1199px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 767px) {}
/*==============================================================
======================= Header Style Sheet =====================
==============================================================*/
/*==============================================================
======================= Contact Style Sheet =====================
==============================================================*/
.ak-contact-me-wrapper {
    max-width: 760px;
    margin: auto;
}
.contact-form-wrap {
    display: flex;
    flex-wrap: wrap;
}
.contact-form-items {
    flex-basis: 50%;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.contact-form-items input, .contact-form-items textarea {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 2px solid #253069;
    padding: 10px;
    color: #253069;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}
.contact-form-items input::placeholder, 
.contact-form-items textarea::placeholder {
    color: #253069;
}
.contact-form-items input:focus, 
.contact-form-items textarea:focus {
    border: 2px solid rgba(240,16,110,1);
}
.contact-form-items.message-area {
    flex-basis: 100%;
}
.contact-form-items.message-area textarea {
    height: 200px;
}
.contact-form-btn button {
    height: 48px;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    border: 2px solid #253069;
    background-color: #253069;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}
.contact-form-btn {
    width: 100%;
    text-align: center;
}
.contact-form-btn button:hover {
    background-color: transparent;
    color: #253069;
}
@media only screen and (max-width: 1199px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 767px) {}
/*==============================================================
======================= Contact Style Sheet =====================
==============================================================*/